favorites=cudatext.desktop,xfce4-settings-editor.desktop,ca.desrt.dconf-editor.desktop
recent=
button-title=Start
button-icon=xfce4-whiskermenu
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=false
view-as-icons=false
default-category=0
recent-items-max=0
favorites-in-recent=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=400
menu-height=500
menu-opacity=100
command-settings=
show-command-settings=false
command-lockscreen=xset s activate
show-command-lockscreen=true
command-switchuser=
show-command-switchuser=false
command-logoutuser=quit-xsession
show-command-logoutuser=true
command-restart=
show-command-restart=false
command-shutdown=
show-command-shutdown=false
command-suspend=
show-command-suspend=false
command-hibernate=
show-command-hibernate=false
command-logout=
show-command-logout=false
command-menueditor=
show-command-menueditor=false
command-profile=
show-command-profile=false
search-actions=1
