[Desktop Entry]
Type=Application
Name=Mount (rw)
NoDisplay=true
Icon=drive-removable-media
Exec=udisksctl loop-setup -f %f
MimeType=application/x-cd-image;application/x-raw-disk-image;
StartupNotify=false
